/*
nav {
  display: flex;
  height:100%;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 150px;
  background-color: var(--color-back-menu);
}

.selection-face div {
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;

  .selection-title {
	flex: 1
  }
}

.selection-sub {
  font-size: var(--font-size-m);
}
*/
